<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="post-overview">
        <article>
          <h2 class="text-center">Sobre mim:</h2>
          <br>
          <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <p class="text-center">"Tudo o que tem que ser feito, merece ser bem feito."</p>
              <%= image_tag 'ideia.png', alt: 'Ideia', class: "idea-photo" %><br><br><br>
            </div>
          </div>
          <h3 class="text-center">Formação Acadêmica</h3><br>
          <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
              <p class="text-center">Colegio Oswaldo Cruz</p>
              <p class="text-center">Curso Técnico em Informática</p>
              <p class="text-center">Ano de formação: 2009</p>
              <%= image_tag 'brasao_oc.png', alt: 'OC', class: "about-photo" %><br><br>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
              <p class="text-center">Universidade Paulista</p>
              <p class="text-center">Bacharel em Sistemas de Informacao</p>
              <p class="text-center">Ano de formação: 2016</p>
              <%= image_tag 'brasao_unip.png', alt: 'UNIP', class: "about-photo" %><br><br>
            </div>
          </div>
          <br>
          <h3 class="text-center">Experiência Profissional</h3><br>
          <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6">
              <p class="text-center">Exército Brasileiro</p>
              <p class="text-center">3º sargento técnico em informática</p>
              <p class="text-center">Período: fev 2011 - fev 2016 </p>
              <%= image_tag 'brasao_eb.png', alt: 'EB', class: "about-photo" %><br><br>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
              <p class="text-center">Campus Code</p>
              <p class="text-center">Desenvolvedor Web - Ruby on Rails</p>
              <p class="text-center">Período: abr 2017 - até agora</p>
              <%= image_tag 'campus_code.png', alt: 'CD', class: "about-photo" %><br><br>
            </div>
          </div>
          <br>
          <h3 class="text-center">Hobbies</h3><br>
          <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-4">
              <p class="text-center">Running</p>
              <%= image_tag 'running.jpg', alt: 'Run', class: "about-photo" %><br><br>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
              <p class="text-center">Patins</p>
              <%= image_tag 'patins.jpg', alt: 'Roller', class: "about-photo" %><br><br>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
              <p class="text-center">Airsoft</p>
              <%= image_tag 'airsoft.png', alt: 'Air', class: "about-photo" %><br><br>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
