<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-lg-8">
      <div class="post-overview">
        <article>
          <h1><%= @post.title %></h1>
          <%= html_for(@post.body) %>
          <br>
          <p><b>Criado em - <%= l @post.created_at, format: :long  %></b></p>
          <br><br>
          <%= render 'shared/disqus' %>
        </article>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 col-lg-4">
      <h3>Outros Posts:</h3>
      <% @posts.each do |other_post| %>
        <% next if other_post.id == @post.id %>
        <%= link_to other_post.title, post_path(other_post) %>
        <br>
      <% end %>
    </div>
  </div>
</div>

